# OPTIMUS P1 ACE Modded
# Created by Devbrones 2024
# This file is tailored for the Optimus P1 with ACE Magnum+ upgrade:
# - 2x external stepperonline Z-axis drivers for NEMA23 motors
# - TMC5160 drivers for X, Y, and LGX ACE Extruder (nema14)
# - Large bed mesh
# - Z tilt calibration using iZ leveling
# - BLTouch for bed leveling and Z homing
# - BigTreeTech Smart Filament Sensor v2.0
# - BigTreeTech Octopus Pro v1.1 Mainboard
# - Power loss recovery
# - Input shaper using ADXL345
# - 2x centrifugal fans for part cooling
# - 1x 40mm fan for heatbreak cooling
# - 1x 40mm fan for controller/stepper driver cooling
#                                                                 </t>
######################################################################

## PRINTER ##
[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 3000
max_z_velocity: 5
max_z_accel: 100
#############

## X-AXIS [Driver0] ##
[stepper_x]
# NEMA17 using TMC5160
step_pin: PF13
dir_pin: PF12
enable_pin: !PF14
microsteps: 16
rotation_distance: 40
endstop_pin: PG6
position_endstop: 0
position_max: 600 # CHANGEME
homing_speed: 50
[tmc5160 stepper_x]
cs_pin: PC4
spi_bus: spi1
diag1_pin: PG6
run_current: 0.800
stealthchop_threshold: 999999
######################

## Y-AXIS [Driver1] ##
[stepper_y]
# NEMA17 using TMC5160
step_pin: PG0
dir_pin: PG1
enable_pin: !PF15
microsteps: 16
rotation_distance: 40
endstop_pin: PG9
position_endstop: 0
position_max: 600 # CHANGEME
homing_speed: 50
[tmc5160 stepper_y]
cs_pin: PD11
spi_bus: spi1
diag1_pin: PG9
run_current: 0.800
stealthchop_threshold: 999999
######################

# we do not need to define the z drivers since they are external and only accept step/dir signals
## Z1-AXIS [Driver2] ##
[stepper_z]
step_pin: PF11
dir_pin: PG3
enable_pin: !PG5
microsteps: 16
rotation_distance: 8
endstop_pin: PG10
position_endstop: 0.5
position_max: 1000 # CHANGEME
#######################

## Z2-AXIS [Driver3] ##
[stepper_z1]
step_pin: PG4
dir_pin: PC1
enable_pin: PA2
microsteps: 16
rotation_distance: 8
endstop_pin: PG11
position_endstop: 0.5
position_max: 1000 # CHANGEME
#######################

## EXTRUDER & HOTEND [Driver4] ##
[extruder]
step_pin: PF9
dir_pin: PF10
enable_pin: !PG2
microsteps: 16
rotation_distance: 33.500
nozzle_diameter: 0.400
[tmc5160 extruder]
cs_pin: PF2
spi_bus: spi1
run_current: 0.800
stealthchop_threshold: 999999
#################################

## FILAMENT ##
filament_diameter: 1.750
##############

## HEATER ##
heater_pin: PA0 # [HE0] connect the heater cartridges in parallel to HE0
sensor_pin:  PF4 # [T0] since there is currently no support for dual-loop PID in klipper we will define only one thermistor
sensor_type: EPCOS 100K B57560G104F # CHANGEME
control: pid
pid_Kp: 22.2
pid_Ki: 1.08
pid_Kd: 114
min_temp: 0
max_temp: 500 # this is only the theoretical limit, the actual limit is around 350 degrees.
############

## BED MESH ##
[bed_mesh]
speed: 50
#   The speed (in mm/s) of non-probing moves during the calibration.
#   The default is 50.
#horizontal_move_z: 5
#   The height (in mm) that the head should be commanded to move to
#   just prior to starting a probe operation. The default is 5.
#mesh_min:
#   Defines the minimum X, Y coordinate of the mesh for rectangular
#   beds. This coordinate is relative to the probe's location. This
#   will be the first point probed, nearest to the origin. This
#   parameter must be provided for rectangular beds.
#mesh_max:
#   Defines the maximum X, Y coordinate of the mesh for rectangular
#   beds. Adheres to the same principle as mesh_min, however this will
#   be the furthest point probed from the bed's origin. This parameter
#   must be provided for rectangular beds.
#probe_count: 3, 3
#   For rectangular beds, this is a comma separate pair of integer
#   values X, Y defining the number of points to probe along each
#   axis. A single value is also valid, in which case that value will
#   be applied to both axes. Default is 3, 3.
#mesh_pps: 2, 2
#   A comma separated pair of integers X, Y defining the number of
#   points per segment to interpolate in the mesh along each axis. A
#   "segment" can be defined as the space between each probed point.
#   The user may enter a single value which will be applied to both
#   axes. Default is 2, 2.
##################

## IZ LEVELING ##
[z_tilt]
#z_positions:
#   A list of X, Y coordinates (one per line; subsequent lines
#   indented) describing the location of each bed "pivot point". The
#   "pivot point" is the point where the bed attaches to the given Z
#   stepper. It is described using nozzle coordinates (the X, Y position
#   of the nozzle if it could move directly above the point). The
#   first entry corresponds to stepper_z, the second to stepper_z1,
#   the third to stepper_z2, etc. This parameter must be provided.
#points:
#   A list of X, Y coordinates (one per line; subsequent lines
#   indented) that should be probed during a Z_TILT_ADJUST command.
#   Specify coordinates of the nozzle and be sure the probe is above
#   the bed at the given nozzle coordinates. This parameter must be
#   provided.
speed: 50
#   The speed (in mm/s) of non-probing moves during the calibration.
#   The default is 50.
horizontal_move_z: 5
#   The height (in mm) that the head should be commanded to move to
#   just prior to starting a probe operation. The default is 5.
#################

## BLTOUCH ##
[bltouch]
sensor_pin: PB7
control_pin: PB6
z_offset: 0
#############

## FANS ##
[fan part_left]
pin: PE5
[fan part_right]
pin: PD12
[heater_fan heatbreak]
pin: PD13
[controller_fan step_cooling]
pin: PD14
##########

## FILAMENT RUNOUT SENSOR ##
[filament_switch_sensor switch_sensor]
switch_pin: gpio_xx # CHANGEME
pause_on_runout: True # might be changed to false i dont jnow
runout_gcode:
  PAUSE # [pause_resume] is required in printer.cfg
  M117 Filament switch runout
insert_gcode:
  M117 Filament switch inserted
## FILAMENT MOTION SENSOR ##
[filament_motion_sensor encoder_sensor]
switch_pin: gpio_xx # CHANGEME
detection_length: 2.88
extruder: extruder
pause_on_runout: False
runout_gcode:
  PAUSE # [pause_resume] is required in printer.cfg
  M117 Filament encoder runout
insert_gcode:
  M117 Filament encoder inserted
############################

## INPUT SHAPER ##
[mcu rpi]
serial: /tmp/klipper_host_mcu
[adxl345]
cs_pin: rpi:None
[resonance_tester]
accel_chip: adxl345
probe_points:
    100, 100, 20  # CHANGEME
##################

## BOARD DEFINITIONS ##
[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PE8, EXP1_2=PE7,
    EXP1_3=PE9, EXP1_4=PE10,
    EXP1_5=PE12, EXP1_6=PE13,    # Slot in the socket on this side
    EXP1_7=PE14, EXP1_8=PE15,
    EXP1_9=<GND>, EXP1_10=<5V>,
    # EXP2 header
    EXP2_1=PA6, EXP2_2=PA5,
    EXP2_3=PB1, EXP2_4=PA4,
    EXP2_5=PB2, EXP2_6=PA7,      # Slot in the socket on this side
    EXP2_7=PC15, EXP2_8=<RST>,
    EXP2_9=<GND>, EXP2_10=PC5
#######################

## GCODE SECTION ##
[pause_resume]
recover_velocity: 25.0
#   When capture/restore is enabled, the speed at which to return to
#   the captured position (in mm/s). Default is 50.0 mm/s.

